@charset "utf-8";
/* btn_slide.html - 메인CSS */

/* reset */
html,body,h2,ul,ol,p{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
}
img{
  vertical-align: top;
  object-fit: cover;
}

/* main */
#container{
  display: flex;
}
.slidebx{
  /* .abtn의 부모 */
  position: relative;

  width: 50%;
}
.slide2{
  width: 100%;
  height: 100vh;
}
.slide2 li{
  display: none;
  width: 100%;
  height: 100%;
}
.slide2 li img{
  width: 100%;
  height: 100%;

  filter: brightness(40%);
}
.slide2 li.dbk{
  display: block;
}
.abtn{
  cursor: pointer;
  position: absolute;
  top: 40%;
  margin: 0 auto;
}
.abtn img{
  width: 80px;
}
.right {
  right: 0;
}
.abtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.btns{
  display: flex;
  flex-direction: column;

  width: 50%;
}
.btns li{
  cursor: pointer;
  opacity: 0.6;
}
.btns li img{
  width: 100%;
  height: 100%;
}
.btns li.op1,
.btns li:hover {
  opacity: 1;
}

