@charset "utf-8";
/* fade_slide.html - 메인CSS */

/* reset */
html,body,ul{
    margin: 0;
    padding: 0;
}
ul{
    /* 블릿제거 */
    list-style: none;
}


/* main */
h1{
    text-align: center;
}
.slide{
    /* li의 부모자격 */
    position: relative;
    margin: 0 auto;

    width: 913px;
    height: 564px;
}
.slide li{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: 2s;
}
.slide li img{
    /* 이미지를 부모인 li크기만큼 맞춤 */
    width: 100%;
    height: 100%;

    object-fit: cover;
    /* cover : 비율유지하면서 박스의 크기에 맞게 이미지를 채움
    -> 그만큼 이미지가 잘려서 나옴 */
}
.slide li.on{
    opacity:1;
}
