@charset "utf-8";
/* mutiple_slide.html - 메인CSS */

/* reset */
html,body,h1,ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    /* 링크걸린 이미지 테두리 없앰 */
    border: none;
}

/* main */
#bx{
    /* .banbx의 부모 */
    position: relative;
    width: 100%;
    height: 100vh;

    overflow: hidden;
}
.banbx{
    /* 배너전체박스 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25vw;
    /* left: 50%; transform: translateX(-50%); 와 결과가 같음 */
    
}
