@charset "utf-8";
/* news.html 공통설정 - common.css */

/************** 0. 공통설정 **************/
/* 웹폰트 CDN - Noto Sans, Jua  */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');
/*  [ 폰트설정 ]
    1. 상단/하단영역
    font-family: 'Jua', sans-serif;
    2. 메인영역
    font-family: 'Noto Sans KR', sans-serif;
*/
body *{
    /* 공사중표시 */
    /* outline: 1px dotted darkorange; */
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.ibx{
    /* 최대너비설정
    -> 브라우저의 너비가 800px보다 줄어들면
    브라우저의 크기에 맞춰 요소의 너비도 줄어든다. */
    max-width: 800px;
    /* 최소소너비설정
    -> 브라우저의 너비가 500px보다 늘어나면
    브라우저의 크기에 맞춰 요소의 너비도 늘어난다. */
    min-width: 500px;
    /* 박스 수평방향 가운데정렬 */
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;

    border: 4px dashed gold;
    border-radius: 15px;
    box-sizing: border-box;
    
}


/************** 1. 상단영역 **************/
.top{
    /* 자식요소인 h1 가운데 정렬 */
    text-align: center;
    font-family: 'Jua', sans-serif;

    background-color: beige;
}
.top > h1{
    margin-bottom: 20px;
    font-size: 4rem;
    color: #333;
}

.gnb ul{
    /* 네비게이션 가로정렬 */
    display: flex;
    justify-content: center;
    gap: 13px;
}
/* 가상요소의 배경색을 사용해서 바 넣기 */
.gnb li::after{
    content: '';
    /* content는 가상요소 필수속성 */

    display: inline-block;
    /* 
        가상요소는 기본적으로 인라인요소다.
        -> 가로와 세로길이를 주려면 블럭요소로 변경해야된다.

        [ 인라인블럭요소 ]
        1. 기본특성은 인라인이기때문에 요소가 수평으로 쌓이고 컨텐츠너비만큼 영역을 잡는다.
        2. 블럭요소처럼 사이즈를 적용할 수 있다.
    */

    width: 5px;
    height: 18px;
    margin-left: 10px;
    vertical-align: -2px;
    /* margin-top으로 요소를 밀게되면 형제요소인 a요소와 함께 밀린다. */

    border-radius: 10px;
    background-color: gold;
}
.gnb li:last-child::after{
    display: none;
}

.gnb li:first-child a{
    /* display: inline-block; */
    /*
        ★ 문제발생 : 첫번째 li의 가상요소 바가 다른 바들에 비해 밑으로 내려가 있는 현상
        -> li때문이다.
            자식요소가 block, inline-block인경우 자식요소의 크기가 커지면 부모요소가 inline, block이냐에 관계없이 부모요소도 함께 커진다.
            그렇기때문에 a태그의 자식요소인 img가 인라인블럭이기때문에 img 높이가 늘어날수록 a태그의 높이도 함께 늘어나야된다.
            그러나 li의 바로 직계인 요소 A가 인라인요소일 경우 그 하위의 요소인 B의 크기가 커져 부모에게 영향을 주더라도 높이값은 변하지않는다.
        
        => 첫번째 li의 a를 인라인블럭요소로 만들어준다.
        => 첫번째 li의 가상요소에 vertical-align을 줘서 맞춰준다.
    */
}
.gnb li:first-child::after {
    vertical-align: 1px;
}

.gnb a{
    font-size: 1.8rem;
}
.gnb img{
    /* 로고크기 지정 
    -> 가로값만 주게되면 높이는 비율에 맞게 설정됨 */
    width: 20px;
}

/************** 2. 메인영역 **************/
.cont > img{
    width: 100%;
}

/************** 3. 하단영역 **************/
.info{
    margin-bottom: 30px;
    background-color: #efefef;
}
.info address{
    text-align: center;
    font-family: 'Jua', sans-serif;
    /* italic 해제 */
    font-style: normal;
    font-size: 1.8rem;
}