@charset "utf-8";
/* multiple slide.html - 메인 CSS */

/* reset - 기본설정 */
html,body,ul,p{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

/* main */
.slide_wrapper{
    /* .slides의 부모자격 */
    position: relative;
    margin: 0 auto;

    width: 660px;
    height: 200px;
    overflow: hidden;
}
.slides li{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}